@font-face {
    font-family: Lexend;
    src: url("/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Doto;
    src: url("/fonts/doto.ttf") format("truetype");
}

@font-face {
    font-family: SourGummy;
    src: url("/fonts/SourGummy.ttf") format("truetype");
}
